---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const locale = 'en';
---

<BaseLayout locale={locale}>
  <Header locale={locale} />
  <main>
    <div class="once-in"><About locale={locale} /></div>
    <div class="once-in"><Experience locale={locale} /></div>
    <div class="once-in"><Education locale={locale} /></div>
    <div class="once-in"><Skills locale={locale} /></div>
    <div class="once-in"><Projects locale={locale} /></div>
    <div class="once-in"><Contact locale={locale} /></div>
  </main>
  <Footer locale={locale} />
</BaseLayout>
